<center><%= image_tag "yointro-logo.png" %></center><br><br>

<div class="container">
<div class="row-fluid">
<div class="span8">

<h3>What is Yo'intro</h3>
A service that allows you to quickly send an email introducing 2 people. 
<h3>How is it different from writing a regular email?</h3>
Yo'intro will automatically pre-fill the entire email for you. All you have to do is choose your recipients and hit send!
<h3>What's new?</h3>
- You can now send intros from your smartphone! The website has been redesigned for mobile compatibility.<br>
- It's now easy to import all of your google contacts. This will make finding intros easier.<br>
- Added name and email autocompletion which takes time away from typing.<br>
<br>
More features to come!
<h3>What if I have more questions?</h3>
We will soon have a complete FAQ section, but until then please email us at <%= mail_to "yointroapp@gmail.com", "yointroapp@gmail.com" %>
</div>

<div class="span4">
<h2>Sign up</h2>
<div class="sign-up">

<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>
<%= render "devise/shared/links" %>
<% end %>

</div>
</div>
</div>
