<%= form_for(@mycontact) do |f| %>
  <% if @mycontact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mycontact.errors.count, "error") %> prohibited this mycontact from being saved:</h2>

      <ul>
      <% @mycontact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<div>
	<%= f.label "Person's Name" %>
	<%= f.text_field :name %>
	</div>
	
	<div>
	<%= f.label "Referral Source:" %>
	<%= f.text_field :location %>
	</div>
	
	

  <div class="actions">
    <%= f.submit 'Save New Contact' %>
  </div>
<% end %>
