<%= form_for(@mycontact) do |f| %>
  <% if @mycontact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mycontact.errors.count, "error") %> prohibited this mycontact from being saved:</h2>

      <ul>
      <% @mycontact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

	<%= f.label 'Contact Name' %>
	<%= f.text_field :name %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
