<%= form_for(@mycontact) do |f| %>
  <% if @mycontact.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@mycontact.errors.count, "error") %> prohibited this mycontact from being saved:</h2>

      <ul>
      <% @mycontact.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="mycontact-text-field-wrapper">	
	Name: <%= f.text_field :name, :class => "mycontact-text-field" %> 
  </div>
	
  <div class="mycontact-text-field-wrapper">  
	Referral Source: <%= f.text_field :referredby_name, :class => "mycontact-text-field"  %>
  </div>

  <div class="mycontact-text-field-wrapper">  
  Referred By (ID): <%= f.text_field :referral_id, :class => "mycontact-text-field"  %>
  </div>
	
	

  <div class="actions">
    <%= f.submit 'Add Contact', :class => "mycontact-new-button" %>
  </div>
<% end %>
