<h1>My Contacts</h1>

<table>
  <thead>
    <tr>
      <th>NAME</th>
      <th>REFERRALS</th>
      <th>ADDED</th>
	  <th>REFERRAL SOURCE</th>
    </tr>
  </thead>

<%= link_to 'New Contact', new_mycontact_path %><br><br>


  <tbody>
    <% @mycontacts.each do |mycontact| %>
      <tr>
		<td><%= link_to mycontact.name, mycontact %></td>
		<td><%= mycontact.referrals.count %></td>
		<td><%= mycontact.created_at.strftime("%-m/%d/%Y")%></td>
		<td><% if mycontact.referredby_name.blank? %> 
			<%= mycontact.location %>
			<% else %> 
			<%= mycontact.referredby_name %>
			<% end %>
			</td>
        <td><%= link_to 'Edit', edit_mycontact_path(mycontact) %></td>
        <td><%= link_to 'Delete', mycontact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

