<center>
<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>
</center>

<div class="resize-for-mobile">
<center><%= image_tag "yointro-logo.png" %></center>
</div>

<div class="hide-for-mobile">

<% if current_user.contacts.count < 1 %>
<br>
<%= link_to '/contacts/gmail' do %>
<center>
<%= image_tag('google_contacts.png') %><br>
<%= "Import Google Contacts" %>
</center>
<% end %>
<center>
<% else %>
<br>
<center>
<%= image_tag('google_contacts.png') %><br>
<%= "Google Contacts Imported" %>
</center>
<% end %>

<%= Contact.count %>
</div>

<div class="row-fluid">
<%= form_for(@intro) do |f| %>
  <% if @intro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@intro.errors.count, "error") %> prohibited this intro from being saved:</h2>

      <ul>
      <% @intro.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


<br><br>
<div class="row-fluid">
	
		<div class="span3 offset2">
			 
			<div class="person1-title"><i class="fa fa-user"> Person 1</i></div><br>
			<div class="person1">

			  <%= f.autocomplete_field :person1_name, autocomplete_contact_name_intros_path, :placeholder => "Name", 'data-auto-focus' => true, :class => 'input_field' %> 
			  <%= f.autocomplete_field :person1_email, autocomplete_contact_email_intros_path, :placeholder => "Email", 'data-auto-focus' => true, :class => 'input_field' %> 

			</div>

		</div>



			<div class="span3 offset2">	

				<div class="person2-title"><i class="fa fa-user"> Person 2</i></div><br>
				<div class="person2">
				<%= f.autocomplete_field :person2_name, autocomplete_contact_name_intros_path, :placeholder => "Name", 'data-auto-focus' => true, :class => 'input_field' %> 
			  	<%= f.autocomplete_field :person2_email, autocomplete_contact_email_intros_path, :placeholder => "Email", 'data-auto-focus' => true, :class => 'input_field' %> 
				</div>
			</div>	
			
</div>

			
<div class="row-fluid">	
	
	<div class="row-fluid">
	<center>
	<div class="choose-message">
		Choose a Message
	</div>
	</center>
	</div>
	
	<div class="row-fluid">
	<center>
	<div class="choose-message-2">
	You can edit it on the next page
	</div>
	</center>
	</div>
	
<br>
	
<div class="span8 offset2">		
<%= f.select :email_subject,  options_for_select(["I really think you should connect!","I think you should explore synergies.", "I'm excited to connect you. Please reach out to one another so you can explore business opportunities."]), {}, { :class => 'selectpicker' } %>
</div>
</div>

<br><br>
  <div class="actions">
	<center>
    <%= f.submit "Preview Email", :class => "update-button" %>
	</center>
  </div>
<% end %>
</div>




