
<center><%= image_tag "yointro-logo.png" %></center>
<div class="row-fluid">
<%= form_for(@intro) do |f| %>
  <% if @intro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@intro.errors.count, "error") %> prohibited this intro from being saved:</h2>

      <ul>
      <% @intro.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<% if flash[:notice] %>
    <div id="notice"><%= flash[:notice] %></div>
<% end %>

<br><br>
<div class="row-fluid">
		<div class="span3 offset2">
			<i class="fa fa-user"> </i> 
			<div class="person1-title">Person 1</div>	
			<div class="person1">
			Name:
			<%= f.text_field :person1_name, :class=> "input_field" %><br>
			Email: 
			<%= f.text_field :person1_email, :class=> "input_field" %>
			</div>
		</div>


			<div class="span3 offset2">	
				<i class="fa fa-user"> </i>
				<div class="person2-title">Person 2</div>
				<div class="person2">
				Name:
				<%= f.text_field :person2_name, :class=> "input_field" %><br>
				Email:
				<%= f.text_field :person2_email, :class=> "input_field"%>
				</div>
			</div>	
</div>
			
<div class="row-fluid">	
<center><h2>Choose a Message <h2></center>
	<center><h5>Don't worry you can edit this later</h5></center>
<div class="span8 offset2">		
<%= f.select :email_subject,  options_for_select(["I really think you guys should meet!","I think you should connect and explore synergies.", "I'm excited to connect you, please reach out to one another so you can explore business opportunities"]), {}, { :class => 'selectpicker' } %>
</div>
</div>

<br><br>
  <div class="actions">
	<center>
    <%= f.submit "Preview Email", :class => "update-button" %>
	</center>
  </div>
<% end %>
</div>