<%= form_for(@intro) do |f| %>
  <% if @intro.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@intro.errors.count, "error") %> prohibited this intro from being saved:</h2>

      <ul>
      <% @intro.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

Person 1<br>
<div>
Name:
<%= f.text_field :person1_name %>
Email: 
<%= f.text_field :person1_email %><br>
</div><br><br><br>
<div>
Person 2<br>
Name:
<%= f.text_field :person2_name %>
Email:
<%= f.text_field :person2_email%>
</div>
<br><br>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
