<div class="row-fluid">
	<div class="span12">
		<div class="top-bar">
			<%= link_to edit_intro_path(@intro) do %>
			<i class="fa fa-arrow-left"> Back</i>
			<% end %>
			</div>
			</div>
			</div>

<div class="row-fluid">

<div class="to-email">
<b>To:</b> <%= @intro.person1_email %>, <%= @intro.person2_email%>
</div>
</div>
<hr>

<div class="row-fluid">
	<div class="subject-email">
<b>Subject:</b> <%= @intro.person1_name %>, meet <%= @intro.person2_name %>
	</div>
</div>
<hr>

<div class="row-fluid">
	<div class="message-email">
Hi <%= @intro.person1_name %> & <%= @intro.person2_name %>,
<br><br><br>

<div class="best-in-place-wrapper">
<%= best_in_place @intro, :email_subject, :type => :textarea, :display_with => :simple_format, :html_attrs => { :class => 'best_in_place_message' } %>
</div>

<script>
$('.best_in_place').bind('ajax:success', function(){ this.innerHTML = this.innerHTML.replace(/\n/g, '<br />') });
</script>
<br><br><br>	
<%= simple_format(@user.signature) %>
</div>
</div>
<hr>

<%= link_to :controller => "intros", :action => "send_email", :id => @intro.id do %>
<i class="fa fa-paper-plane-o"> Send</i>
<% end %>


