<p id="notice"><%= notice %></p>

<b>To:</b> <%= @intro.person1_email %>, <%= @intro.person2_email%><br><br>

<b>Subject:</b> <%= @intro.person1_name %>, meet <%= @intro.person2_name %><br><br>

<b>Message:</b> <br>
<br>
Hi <%= @intro.person1_name %> & <%= @intro.person2_name %>,
	
<p><%= best_in_place @intro, :email_subject, :type => :input,  :html_attrs => { :class => 'best_in_place_message' } %><br><br><br>

<%= @user.signature %>
	

<br>
<%= link_to "Send Email", :controller => "intros", :action => "send_email", :id => @intro.id %>

<%= link_to 'Edit', edit_intro_path(@intro) %> |
<%= link_to 'Back', intros_path %> |
<%= link_to 'New', new_intro_path %>
