<!DOCTYPE html>
<html>
<head>
  <title>Introapp</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	
<div class="btn-group closed">
 <%= link_to root_url, :class=> "btn btn-primary" do %>
<i class="fa fa-home fa-fw"></i>Home
<% end %>
  <a class="btn btn-primary dropdown-toggle" data-toggle="dropdown" href="#">
    <span class="fa fa-caret-down"></span></a>
  <ul class="dropdown-menu">
	 <%= link_to intros_path  do %>
<center><li><i class="fa fa-clock-o"></i> History</li></center>
	<% end %>
	 <%= link_to edit_user_registration_path  do %>
	<center><li><i class="fa fa-pencil fa-fw"></i>Edit Signature</li></center>
	<% end %>
    <li class="divider"></li>

	<% if user_signed_in? %>
	 <%= link_to destroy_user_session_path, method: :delete do %>
	<center><li><i class="i"></i>Logout</li></center>
	<% end %>
	<% else %>
	<%= link_to new_user_registration_path do  %>
	<center><li><i class="i"></i>Sign up</li></center>
	<% end %>
	 <%= link_to new_user_session_path do %>
	<center><li><i class="i"></i>Login</li></center>
	<% end %>
	<% end %>	
  </ul>
</div>
<div class="row-fluid">
	<div class="logo">
		<center>
<%= image_tag "yointro-logo.png" %>
</ceter>
	</div>
</div>

<div class="footer navbar-fixed-bottom">A project by <%= link_to '@garyriger', 'http://www.twitter.com/garyriger' %>. Copyright 2014 Thinklab Media. </div>

<%= yield %>

</body>
</html>
